[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/javaScriptLint.vim"]
	path = bundle/javaScriptLint.vim
	url = https://github.com/joestelmach/javaScriptLint.vim.git
[submodule "bundle/play2vim.git"]
	path = bundle/play2vim.git
	url = https://github.com/gre/play2vim.git
[submodule "bundle/vim-fugitive.git"]
	path = bundle/vim-fugitive.git
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-scala.git"]
	path = bundle/vim-scala.git
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "bundle/supertab.git"]
	path = bundle/supertab.git
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/vim-surround.git"]
	path = bundle/vim-surround.git
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/dbext.vim.git"]
	path = bundle/dbext.vim.git
	url = https://github.com/vim-scripts/dbext.vim.git
[submodule "bundle/ack.vim.git"]
	path = bundle/ack.vim.git
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/netrw.vim.git"]
	path = bundle/netrw.vim.git
	url = https://github.com/vim-scripts/netrw.vim.git
[submodule "bundle/commentop.vim.git"]
	path = bundle/commentop.vim.git
	url = https://github.com/vim-scripts/commentop.vim.git
[submodule "bundle/winmanager.git"]
	path = bundle/winmanager.git
	url = https://github.com/vim-scripts/winmanager.git
[submodule "bundle/bufexplorer.git.vim"]
	path = bundle/bufexplorer.git.vim
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/python-mode.git"]
	path = bundle/python-mode.git
	url = https://github.com/klen/python-mode.git
[submodule "bundle/vimwiki.git"]
	path = bundle/vimwiki.git
	url = https://github.com/vim-scripts/vimwiki.git
