[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/javaScriptLint.vim"]
	path = bundle/javaScriptLint.vim
	url = https://github.com/joestelmach/javaScriptLint.vim.git
[submodule "bundle/play2vim.git"]
	path = bundle/play2vim.git
	url = https://github.com/gre/play2vim.git
[submodule "bundle/vim-fugitive.git"]
	path = bundle/vim-fugitive.git
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-scala.git"]
	path = bundle/vim-scala.git
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "bundle/supertab.git"]
	path = bundle/supertab.git
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/vim-surround.git"]
	path = bundle/vim-surround.git
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/dbext.vim.git"]
	path = bundle/dbext.vim.git
	url = https://github.com/vim-scripts/dbext.vim.git
[submodule "bundle/ack.vim.git"]
	path = bundle/ack.vim.git
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/netrw.vim.git"]
	path = bundle/netrw.vim.git
	url = https://github.com/vim-scripts/netrw.vim.git
